.container-catalogo{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;

}

.container-pacman{
    display: flex;
    flex-direction: column;
    
}
.container-mario{
    display: flex;
    flex-direction: column;
}
.container-tetris{
    display: flex;
    flex-direction: column;
}